
@{
    ViewData["Title"] = "Dashboard";
}

<div class="card">
    <div class="card-header">
        Dashboard
    </div>
    <div class="card-body">

        <div>
            <img src="/img/Sample_Dashboard_1.png" class="w-100" />
        </div>

    </div>
</div>

