
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TOT Report Web API</title>
</head>
<body>
    <div>
        <div style="margin: 100px auto; width: 500px; text-align: center">TOT Report Web API</div>
    </div>
</body>
</html>
