
@{
    ViewData["Title"] = "Logs";
}

<div class="card">
    <div class="card-header">
        รายงาน Log การใช้งาน MCN
    </div>
    <div class="card-body">

        <form>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                    <label for="inputState">คำค้น</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">หมายเลขบริการ</label>
                    <input type="text" class="form-control" id="inputCity">
                    @*<label for="inputCity">กรองจาก</label>
                        <select id="inputState" class="form-control">
                            <option selected>ทั้งหมด</option>
                            <option>...</option>
                        </select>*@
                </div>
            </div>

            @*<div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                    <label for="inputCity">สถานะ</label>
                    <select id="inputState" class="form-control">
                        <option selected>ทั้งหมด</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                </div>
            </div>*@


            <div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                    <label for="inputCity">วันที่เริ่มต้น</label>
                    <select id="inputState" class="form-control">
                        <option selected>...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">วันที่สิ้นสุด</label>
                    <select id="inputState" class="form-control">
                        <option selected>...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
                    &nbsp; &nbsp;
                    <button type="submit" class="btn btn-secondary">ล้าง</button>
                </div>
            </div>
        </form>


        @*<div class="result">
            <img src="/img/SampleReport_Log.png" class="w-100" />
        </div>*@

    </div>
</div>

